# Logs
logs
*.log
npm-debug.log*

# pnpm
.pnpm-store

# Coverage
lib-cov
coverage
.nyc_output

# Dependency directories
node_modules

# Cache
.npm
.eslintcache
*.tsbuildinfo

# IDE
.vscode

# OS
.DS_Store

# Developer specific configuration files
.env
.nodenv-vars
.tool-versions

# Artifacts
dist
example/dist
